/Aula04/PrimeiroPrograma/nbproject/private/
/Aula04/PrimeiroPrograma/build/
/Aula04/HoraDoSistema/nbproject/private/
/Aula04/HoraDoSistema/build/
/Aula04/IdiomaSistema/nbproject/private/
/Aula04/IdiomaSistema/build/
/Aula04/ResolucaoTela/nbproject/private/
/Aula04/ResolucaoTela/build/
/Aula04/HoraDoSistema/dist/
/Aula05/OlaMundoSwing/nbproject/private/
/Aula05/OlaMundoSwing/build/
/Aula05/OlaMundoJavaFX/nbproject/private/
/Aula05/OlaMundoJavaFX/build/
/Aula05/OlaMundoJavaFX/dist/
/Aula05/OlaMundoSwing/dist/
/Aula05/RelogioSwing/nbproject/private/
/Aula05/RelogioSwing/build/
/Aula05/IdiomaSistemaSwing/nbproject/private/
/Aula05/IdiomaSistemaSwing/build/
/Aula05/ResolucaoTelaSwing/nbproject/private/
/Aula05/ResolucaoTelaSwing/build/
/Aula06/TiposPrimitivos/nbproject/private/
/Aula06/TiposPrimitivos/build/
/Aula06/EntradaDados/nbproject/private/
/Aula06/EntradaDados/build/
/Aula06/TesteTipos/nbproject/private/
/Aula06/TesteTipos/build/
