/Aula04/PrimeiroPrograma/nbproject/private/
/Aula04/PrimeiroPrograma/build/
/Aula04/HoraDoSistema/nbproject/private/
/Aula04/HoraDoSistema/build/
/Aula04/IdiomaSistema/nbproject/private/
/Aula04/IdiomaSistema/build/
/Aula04/ResolucaoTela/nbproject/private/
/Aula04/ResolucaoTela/build/
